* {
    box-sizing: border-box;
    
}
:root {
    --grid-separations: #a2a1a0;
    --grid-dark: #585656;
    --background: #e9e9e9;
}

body {
    font-family: serif;
    font-family: 'Dongle', sans-serif;
    background: var(--background);
    color: #504e4b;
}

input {

    padding: .5rem;
    border-radius: 3px;
    border: 2px solid gray;

}
div.tippy-box {
    font-size: 1.5rem;
    line-height: 1.1;
}
@media screen and (min-width: 600px) {
    main {
      display: flex;
      justify-content: center;
    }

    aside {
        padding: 0 2rem;
    }
    .boardgame {
        min-width: 30%;
        max-width: 50%;
    }
}
